html,
body {
  overflow: hidden;
}
.table-container {
  background-color: white;
  width: 50vw;
}
.table-container thead {
  display: block;
  width: 50vw;
  background-color: red;
}
.table-container tbody {
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  height: 111px;
  width: 50vw;
}